/* Base Styling */

*,*:before, *:after {

box-sizing: border-box ; 
padding: 0 ;
margin: 0 ;  
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
}

a, 
p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}



/* Header Section */
.header-hero-container {
    width: 100%;
    padding: 20px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    width: 100%;
    max-width: 1200px;
    background-color: #1F2937;
}

.header-links {
    display: flex;
    gap: 20px;
}

.logo {
    max-height: 60px;
    width: auto;
}



/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    width: 100%;
    max-width: 1200px;
}

.cat {
    width: 400px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border: 2px solid #ecf0f1;
}

.hero-text-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
}

.hero-main-text { 
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.cta-button {
    background-color: #3882F6;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}



/* Information Section */
.information-image {
    width: 200px;
    height: 200px;
    border: 2px solid #3B82F6;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5px;
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.information-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.information-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.information-container h2 {
    font-size: 32px;
    color: #1F2937;
    margin-bottom: 40px;
    margin-top: 40px;
}

.information-item p {
    font-size: 16px;
    color: grey;
    text-align: center;
    margin: 0;
}



/* Quote Section */
.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
    width: 100vw;
    padding: 60px 60px;
    
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    max-width: 100%;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 60px;
    color: #374151;
    align-self: flex-end;
    text-align: right;
    width: 100%;
}



/* Call to Action Section */
.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 80px;
    margin: 0;
    width: 100%;
    
}

.cta {
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;
    background-color: #3882F6;
    border-radius: 10px;
}

.cta-main-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.cta-sub-text{
    font-size: 18px;
}

.cta > .cta-button {
    border-style: solid;
}
